<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.health.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lt.health.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
        <result property="isAdmin" column="is_admin" jdbcType="TINYINT"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,password,
        nick_name,sex,avatar_url,
        address,open_id,user_status,
        is_admin,phone_number,email,
        create_time,update_time,is_delete
    </sql>

    <!--void updateByOpenId(@Param("user") User user);-->
    <update id="updateByOpenId" parameterType="com.lt.health.entity.User">
        update sys_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
        </set>
        where open_id=#{openId}
    </update>

    <!--User findByUserName(@Param("username") String username)-->
    <select id="findByUserName" resultType="com.lt.health.entity.User">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where (user_name = #{value} or phone_number = #{value} or open_id = #{value})
    </select>

</mapper>
